@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.sidebar-option {
  @apply p-2 cursor-pointer rounded-md hover:bg-gray-100;
}

.sidebar-option-active {
  @apply bg-blue-200 text-blue-700;
}

.button-apply {
  @apply bg-blue-500 text-white px-3 py-2 rounded hover:bg-blue-600;
}

.button-cancel {
  @apply bg-gray-300 text-gray-800 px-3 py-2 rounded hover:bg-gray-400;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

.transition-transform {
  transition: transform 0.5s ease-in-out;
}

.transform {
  transform: translateY(-20px);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.modal-enter {
  animation: slideIn 0.3s ease-out forwards;
}

.modal-exit {
  animation: slideOut 0.3s ease-in forwards;
}
